[Desktop Entry]
Encoding=UTF-8
Name=rgbPaint
Comment=Simple image editor
Exec=rgbpaint %f
Icon=applications-graphics
Terminal=false
Type=Application
Categories=GTK;Graphics;2DGraphics;RasterGraphics;